@import '~bootstrap/scss/bootstrap';

.btn-outline-primary {
  color: #dedef0;
 }

.nav-link {
  color: #bd574e;
}

.signup {
  padding-right: 50px;
}

.signup {
  padding-left: 50px;
}

.container {
  color: #fa877f;
}

.modal1 {
  color: #fa877f;
}

.modal2 {
  color: #fa877f;
}
