@import '~bootstrap/scss/bootstrap';

h1 {
  text-align: center;
}

.row {
  display: flex;
}

.btn-outline-primary {
  color: #dedef0;
 }

.nav-link {
  color: #bd574e;
}

.container {
  color: #fa877f;
}

.modal1 {
  color: #fa877f;
}

.modal2 {
  color: #fa877f;
}
